@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

:root {
	font-family: "Inter", system-ui, --apple-system, sans-serif;
	font-weight: 400;
	font-display: optional;

	color-scheme: light dark;
	color: #352f2f;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-width: 100vw;
	min-height: 100vh;
}
